:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

.app {
  height: 100%;
  width: 100%;
  display: flex;
}

.select {
  width: 100%;
  display: flex;
  min-width: 250px;

}

div .formControl {
  display: flex;
  height: fit-content;
  flex-direction: row;
}